@media (max-width: 1100px) {
  .header__inner {
    grid-template-columns: 1fr;
    margin: 30px 0;
    padding: 0 50px;
  }

  .header__inner__content h1 {
    text-align: center;
    font-size: 3.3rem;
  }

  .header__inner__photo {
    justify-content: center;
    margin-top: 20px;
  }

  .skills__container {
    grid-template-columns: 155px 155px 155px;
  }

  .project p {
    font-size: 1.4rem;
  }

  .btns {
    gap: 10px;
  }

  .git__btn {
    height: 40px;
    font-size: 1.6rem;
  }
}

@media (max-width: 885px) {
  .nav__links {
    display: none;
  }

  .header__inner__content {
    gap: 10px;
  }

  .header__inner__content h1 {
    font-size: 3rem;
  }

  .header__inner__content p {
    font-size: 1.5rem;
    line-height: 170%;
  }

  .project {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .project h1 {
    text-align: center;
  }

  .btns {
    gap: 5px;
  }

  .project__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .logo {
    width: 150px;
  }

  .tg__btn {
    font-size: 1.5rem;
    padding: 7px 10px;
  }

  .skills__container {
    grid-template-columns: 115px 115px 115px;
    gap: 15px;

    margin-top: 30px;
    margin-bottom: 50px;
  }

  .skill {
    height: 115px;
  }

  .skill img {
    width: 80px;
    height: 80px;
  }
}
