* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;

  background-color: #fafaf5;
}

.container {
  max-width: 1280px;
  width: 100%;

  margin: 0 auto;
}

.red {
  color: #ff5c5c;
}

/* NAVBAR */
.nav__bar {
  background-color: #1e1e1e;
  width: 100%;
}

.nav__bar__inner {
  width: 100%;
  padding: 16px 20px 17px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Baloo 2", sans-serif;
}

.logo {
  max-width: 100%;
  height: auto;
}

.nav__links {
  display: flex;
  gap: 30px;

  list-style: none;
}

.nav__link {
  position: relative;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;

  text-decoration: none;
}

.nav__link:hover {
  color: #ff5c5c;
}

.nav__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  border-radius: 10px;
  background-color: #ff5c5c;

  transition: 0.3s ease-in-out;
}

.nav__link:hover::before {
  width: 100%;
}

.tg__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background-color: #fff;

  padding: 7px 20px;
  border-radius: 5px;

  font-size: 2rem;
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 800;

  transition: 0.2s ease-in-out;
}

.tg__btn:hover {
  scale: 1.05;
}

.tg__btn:active {
  scale: 0.95;
}

/* HEADER */

.header {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

.header__inner {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 70px 100px;
}

.header__inner__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  gap: 20px;
}

.header__inner__content h1 {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 5px;
  line-height: 130%;
}

.header__inner__content p {
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 130%;
}

.header__inner__photo {
  display: flex;
  justify-content: flex-end;
}

.header__inner__photo img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain; /* или cover, если хотите, чтобы оно полностью заполняло контейнер */
}
