* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;

  background-color: #fafaf5;
}

.container {
  max-width: 1080px;
  width: 100%;

  margin: 0 auto;
}

.red {
  color: #ff5c5c;
}

/* NAVBAR */
.nav__bar {
  background-color: #1e1e1e;
  width: 100%;
}

.nav__bar__inner {
  width: 100%;
  padding: 16px 20px 17px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Baloo 2", sans-serif;
}

.logo {
  max-width: 100%;
  height: auto;
}

.nav__links {
  display: flex;
  gap: 30px;

  list-style: none;
}

.nav__link {
  position: relative;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;

  text-decoration: none;
}

.nav__link:hover {
  color: #ff5c5c;
}

.nav__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  border-radius: 10px;
  background-color: #ff5c5c;

  transition: 0.3s ease-in-out;
}

.nav__link:hover::before {
  width: 100%;
}

.tg__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background-color: #fff;

  padding: 7px 20px;
  border-radius: 5px;

  font-size: 2rem;
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 800;

  transition: 0.2s ease-in-out;
}

.tg__btn:hover {
  scale: 1.05;
}

.tg__btn:active {
  scale: 0.95;
}

/* HEADER */

.header {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

.header__inner {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 70px 20px;
}

.header__inner__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  gap: 20px;
}

.header__inner__content h1 {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 5px;
  line-height: 130%;
}

.header__inner__content p {
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 130%;
}

.header__inner__photo {
  display: flex;
  justify-content: flex-end;
}

.header__inner__photo img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  margin-right: 20px;
}

/* SKILLS */

.skills {
  width: 100%;
  background-color: #1e1e1e;
}

.skills__inner {
  padding: 25px 10px;
}

.skills__header {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-family: "Baloo 2", sans-serif;
  letter-spacing: 3px;
}

.skills__container {
  display: grid;
  grid-template-columns: 155px 155px 155px 155px 155px 155px;
  gap: 30px;
  justify-content: center;

  margin-top: 60px;
  margin-bottom: 100px;
}

.skill {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #fff;
  border-radius: 5px;

  transition: 0.2s ease-in-out;
}

.skill img {
  width: 120px;
  height: 120px;
  color: #000;
}

.skill:hover {
  scale: 1.05;
  border: none;
}

.skill:hover:nth-child(1) {
  background-color: #e34f26;
}

.skill:hover:nth-child(2) {
  background-color: #1572b6;
}

.skill:hover:nth-child(3) {
  background-color: #f7df1e;
}

.skill:hover:nth-child(4) {
  background-color: #61dafb;
}

.skill:hover:nth-child(5) {
  background-color: #ff6c37;
}

.skill:hover:nth-child(6) {
  background-color: #a259ff;
}

/* PET-PROJECTS */

.projects {
  width: 100%;
  padding: 20px 0;
}

.projects__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  padding: 20px;

  border-radius: 5px;

  background-color: #1e1e1e;
  color: #fff;
}

.project h1 {
  font-size: 3rem;
  font-family: "Baloo 2", sans-serif;
  letter-spacing: 2px;
}
.project p {
  font-size: 1.8rem;
  letter-spacing: 1.5px;
}

.project__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project__img img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.git__btn {
  width: 100%;
  height: 60px;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  color: #1e1e1e;
  font-size: 2rem;

  border-radius: 5px;
}
